In [1]:
# import essential libraries
import numpy as pd
import pandas as pd

In [7]:
dataset = pd.read_csv("taxi.csv")
dataset

,Priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
0,15,1800000,5800,50,192000
1,15,1790000,6200,50,190400
2,15,1780000,6400,60,191200
3,25,1778000,6500,60,177600
4,25,1750000,6550,60,176800
5,25,1740000,6580,70,178400
6,25,1725000,8200,75,180800
7,30,1725000,8600,75,175200
8,30,1720000,8800,75,174400
9,30,1705000,9200,80,173920
10,30,1710000,9630,80,172800
11,40,1700000,10570,80,163200
12,40,1695000,11330,85,161600
13,40,1695000,11600,100,161600
14,40,1690000,11800,105,160800
15,40,1630000,11830,105,159200
16,65,1640000,12650,105,148800
17,102,1635000,13000,110,115696
18,75,1630000,13224,125,147200
19,75,1620000,13766,130,150400
20,75,1615000,14010,150,152000
21,80,1605000,14468,155,136000
22,86,1590000,15000,165,126240
23,98,1595000,15200,175,123888
24,87,1590000,15600,175,126080
25,77,1600000,16000,190,151680
26,63,1610000,16200,200,152800

In [8]:
dataset.shape

(27, 5)

In [5]:
dataset.head()

,Priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
0,15,1800000,5800,50,192000
1,15,1790000,6200,50,190400
2,15,1780000,6400,60,191200
3,25,1778000,6500,60,177600
4,25,1750000,6550,60,176800

In [6]:
dataset.isnull().sum()

Priceperweek              0
Population                0
Monthlyincome             0
Averageparkingpermonth    0
Numberofweeklyriders      0
dtype: int64

In [11]:
# seperate dataset into dependent and independent variables
x = dataset.iloc[:,:-1].values
y = dataset.iloc[:,4].values
x
print("\n")
y

array([192000, 190400, 191200, 177600, 176800, 178400, 180800, 175200,
       174400, 173920, 172800, 163200, 161600, 161600, 160800, 159200,
       148800, 115696, 147200, 150400, 152000, 136000, 126240, 123888,
       126080, 151680, 152800], dtype=int64)

In [15]:
# split dataset into training dataset and testing dataset
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state = 0)

In [16]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(x_train, y_train)

LinearRegression()

In [17]:
import pickle

In [18]:
pickle.dump(reg, open("taxi.pkl","wb"))

In [19]:
# Test the Model
model = pickle.load(open("taxi.pkl", "rb"))

In [ ]:
model